@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div style="padding-left: 5%; padding-right: 5%; padding-bottom: 3%; margin-top: 0%;" class="content">
    <h1>My Profile</h1>

    <div>
        <h3 style="margin-top: 0%;">Manage your account</h3>
        <hr style="background-color: dimgrey;" />
        <div style="text-align: center;">
            <partial name="_ManageNav" />
            <hr style="background-color: dimgrey; margin-top: 0%;" />
            <div>
                @RenderBody()
            </div>
        </div>
        </div>
</div>

    @section Scripts {
        @RenderSection("Scripts", required: false)
    }
