@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
@if (ViewData["StatusCode"].ToString() == "0")
{
    <h1 id="status-message" hidden></h1>
}
else
{
    <h1 id="status-message" hidden>@ViewData["StatusMessage"]</h1>
}
<div class="card">
    <div class="card-header card-header-primary">
        <h4 style="font-weight: bold;" class="card-title">@ViewData["Title"]</h4>
    </div>
    <div style="padding-top: 3.5%;" class="card-body">
        <form method="post">
            <div style="margin-bottom: -2%;" class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label style="color: black;" class="bmd-label-floating">Email Address</label>
                        <input style="color: black;" disabled asp-for="Email" type="text" class="form-control">
                    </div>
                </div>
                <div style="margin-bottom: 2%;" class="col-md-6">
                    <div class="form-group">
                        <label style="color: black;" class="bmd-label-floating">New Email Address</label>
                        <input style="color: black;" asp-for="Input.NewEmail" type="text" class="form-control">
                    </div>
                    <span style="color: red; font-weight: bold;" class="text-danger" asp-validation-for="Input.NewEmail"></span>
                </div>
            </div>
            <center><button type="submit" asp-page-handler="ChangeEmail" style="background-color: red; margin-top: 2.5%;" class="btn btn-primary">Update Email</button></center>
            <div class="clearfix"></div>
        </form>
    </div>
</div>

<script type="text/javascript">

    if (document.getElementById('status-message').textContent != "") {
        window.onload = function () {
            var message = document.getElementById('status-message').textContent.toString();
            md.showNotification('top', 'center', message);
        };
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
