@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div style="text-align: center;" class="row">


    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">@ViewData["Title"]</h4>
        </div>
        <div style="padding-top: 3.5%;" class="card-body">
            <form action ="save">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Fist Name</label>
                            <input value=@ViewData["FirstName"] type="text" class="form-control" name="first">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @* Get value from user table *@
                            <label class="bmd-label-floating">Last Name</label>
                            <input value=@ViewData["Last"] type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @* Get value from user table *@
                            <label class="bmd-label-floating">RSA Identification Number</label>
                            <input value=@ViewData["ID"] type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div style="padding-top: 1%;" class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @* Get value from user table *@
                            <label class="bmd-label-floating">Contact Number</label>
                            <input value=@ViewData["Contact"] type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @* Get value from user table *@
                            <label class="bmd-label-floating">Email Address</label>
                            <input value=@ViewData["Email"] type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @* Get value from user table - use if statement to display correct gender *@
                            @if (ViewData["Gender"].ToString() == "Male")
                            {
                                <div style="padding-left: 7.5%;" class="form-check form-check-radio form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" name="radios" type="radio" id="male-radio" value="Male" checked> Male
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div style="padding-left: 10%;" class="form-check form-check-radio form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" name="radios" type="radio" id="female-radio" value="Female"> Female
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            }
                            else
                            {
                                <div style="padding-left: 7.5%;" class="form-check form-check-radio form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" name="radios" type="radio" id="male-radio" value="Male"> Male
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div style="padding-left: 10%;" class="form-check form-check-radio form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" name="radios" type="radio" id="female-radio" value="Female" checked> Female
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div style="padding-top: 1%;" class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Medical Aid</label>
                            <input value=@ViewData["Medical"] type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Membership Number</label>
                            <input value=@ViewData["Member"] type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Authorization Number</label>
                            <input value=@ViewData["Auth"] type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <center><button type="submit" style="background-color: red; margin-top: 1%;" class="btn btn-primary">Update Profile</button></center>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>


</div>
@{ if (TempData["Test"]==null)
    {
        <script>
            alert('@TempData["Test"]')
        </script>
    }}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}