@{
    ViewData["Title"] = "Confirm Booking Vaccination";
}

<div style="padding-left: 5%; padding-right: 5%; padding-bottom: 3%;" class="content">
    <h1>Confirm Vaccination Booking</h1>

    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Confirm your COVID-19 Vaccination</h4>
            <p class="card-category">Please confirm your COVID-19 Vaccination</p>
        </div>
        <div style="padding-top: 3.5%;" class="card-body">
            <form action="Book">
                <div style="margin-top: -0.25%; text-align: center;" class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h4>Book a COVID-19 <span style="color: red; font-weight: bold;"></span> at <span style="color: red; font-weight: bold;">@ViewBag.VaccinationLocation</span> on <span style="color: red; font-weight: bold;">@ViewBag.VaccinationDate</span> at <span style="color: red; font-weight: bold;">@ViewBag.VaccinationTime</span>?</h4>
                        </div>
                    </div>
                </div>
                <center><button type="submit" style="background-color: red; margin-top: 2%;" class="btn btn-primary">Confirm Booking</button></center>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}