
@{
    ViewData["Title"] = "FailedBookingVaccination";
}

<div style="text-align: center;" class="content">
    <h1 style="color: red;">Your booking has failed.</h1>
    <a style="color: red;" asp-controller="CovidVaccinations" asp-action="RegisterCovidVaccination"><h3>Please try again.</h3></a>
</div>
