@{
    ViewData["Title"] = "About Page";
}

<div style="padding-left: 5%; padding-right: 5%; padding-bottom: 3%; margin-top: 0%;" class="content text-center">
    <img style="margin-top: 3%;" src="~/img/logo.png" width="350" />
    <h3>
        Epicentre is a company founded in 2001 on a vision.
        We are an independent organization that is
        committed to creating a positive impact on the health
        and wellness in South Africa.
        We want to close the gap between unscreened,
        undiagnosed, and uncontrolled HIV & COVID-19 infections
        as well as other chronic diseases.
    </h3>
    <br />
    <br />
    <img src="~/img/tech-gravity.png" width="350" />
    <h3>
        TechGravity is a software development company.
    </h3>
</div>
