
@{
    ViewData["Title"] = "Contact Failed";
}

<div style="text-align: center;" class="content">
    <h1 style="color: red;">Feedback has not been sent, Please try again.</h1>
    <a style="color: red;" asp-controller="Home" asp-action="Contact"><h3>Please try again.</h3></a>
</div>
