@{
    ViewData["Title"] = "Home";
}
<div style="padding-left: 1%; padding-right: 2%; padding-bottom: 3%; margin-top: 0%;" class="content">
    <h1 style="padding-bottom: 1%; padding-left: 4%; color: black; font-size: 250%;">Welcome back, <span style="font-weight: bold; color: red;">@ViewBag.FirstName</span>!</h1>
    <div style="margin-top: 2%; margin-left: -2.2%;" class="container-fluid">
        <div style="margin-left: 3%;" class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">coronavirus</i>
                        </div>
                        <p style="color: black;" class="card-category">Number of Covid Tests</p>
                        <h3 style="color: black;" class="card-title">
                            @ViewBag.NumberOfTests
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">coronavirus</i>
                            <a style="color: red;" asp-controller="CovidTests" asp-action="Index">View your Covid Tests</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">thumb_up_alt</i>
                        </div>
                        <p style="color: black;" class="card-category">Positive Covid Tests</p>
                        <h3 style="color: black;" class="card-title">@ViewBag.NumberOfPositiveTests</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">coronavirus</i>
                            <a style="color: red;" asp-controller="CovidTests" asp-action="RegisterCovidTest">Register for Covid Test</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">thumb_down_alt</i>
                        </div>
                        <p style="color: black;" class="card-category">Negative Covid Tests</p>
                        <h3 style="color: black;" class="card-title">@ViewBag.NumberOfNegativeTests</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">coronavirus</i>
                            <a style="color: red;" asp-controller="CovidTests" asp-action="RegisterCovidTest">Register for Covid Test</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-left: 4%;" class="text-center">
            <img src="~/img/epicentre-work.png" />
        </div>
        </div>
    </div>