
@{
    ViewData["Title"] = "Contact Successful";
}

<div style="text-align: center;" class="content">
    <h1 style="color: green;">Thank you for your feedback!</h1>
    <a style="color: red;" asp-controller="Home" asp-action="Index"><h3>Done</h3></a>
</div>