@{
    ViewData["Title"] = "Create";
}

<div style="padding-left: 5%; padding-right: 5%; padding-bottom: 3%; margin-top: 0%;" class="content">
    <h1>COVID-19 Test Booking</h1>

    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Register for a COVID-19 Test</h4>
            <p class="card-category">Please fill out the form below to book for a COVID-19 Test</p>
        </div>
        <div style="padding-top: 3.5%;" class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @* Get value from user table *@
                            <label class="bmd-label-floating">Fist Name</label>
                            <input value="John" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @* Get value from user table *@
                            <label class="bmd-label-floating">Last Name</label>
                            <input value="Doe" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @* Get value from user table *@
                            <label class="bmd-label-floating">RSA Identification Number</label>
                            <input value="0123456789" type="text" class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <div style="padding-top: 1%;" class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @* Get value from user table *@
                            <label class="bmd-label-floating">Contact Number</label>
                            <input value="0123456789" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @* Get value from user table *@
                            <label class="bmd-label-floating">Email Address</label>
                            <input value="johndoe@gmail.com" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            @* Get value from user table - use if statement to display correct gender *@
                            @if (1 == 1)
                            {
                                <div style="padding-left: 20%;" class="form-check form-check-radio form-check-inline disabled">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" id="inlineRadio1" value="Male" checked> Male
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div style="padding-left: 10%;" class="form-check form-check-radio form-check-inline disabled">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" id="inlineRadio2" value="Female" disabled> Female
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            }
                            else
                            {
                                <div style="padding-left: 20%;" class="form-check form-check-radio form-check-inline disabled">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" id="inlineRadio1" value="Male" disabled> Male
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div style="padding-left: 10%;" class="form-check form-check-radio form-check-inline disabled">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" id="inlineRadio2" value="Female" checked> Female
                                        <span class="circle">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div style="padding-top: 1%;" class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Medical Aid</label>
                            <input value="My Medical Aid" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Membership Number</label>
                            <input value="123456789" type="text" class="form-control" disabled>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="bmd-label-floating">Authorization Number</label>
                            <input value="1234" type="text" class="form-control" disabled>
                        </div>
                    </div>
                </div>
                <div style="padding-top: 1%; text-align: center;" class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input onclick="testTypeClicked()" class="form-check-input" type="radio" name="inlineRadioOptions" id="pcr-swab-test" value="Male"> PCR Swab Test
                                    <span class="circle">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                            <div style="padding-left: 10%;" class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input onclick="testTypeClicked()" class="form-check-input" type="radio" name="inlineRadioOptions" id="rapid-antigen-test" value="Female"> Rapid Antigen Test
                                    <span class="circle">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                            <div style="padding-left: 10%;" class="form-check form-check-radio form-check-inline">
                                <label class="form-check-label">
                                    <input onclick="testTypeClicked()" class="form-check-input" type="radio" name="inlineRadioOptions" id="antibody-test" value="Female"> Antibody Test
                                    <span class="circle">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                            <br />
                            <span id="test-type-validation" style="color: red; font-weight: bold; visibility: hidden;" class="text-danger">Please select a test type</span>
                        </div>
                    </div>
                </div>
                <div id="dropdown" style="margin-top: -2.5%; text-align: center;" class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="btn-group">
                                <button id="button-value" style="background-color: red;" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Testing Site
                                </button>
                                <div class="dropdown-menu">
                                    <a onclick="clickedLocation('Stellenbosch, Western Cape')" style="cursor: pointer;" href="javascript:void(0)" class="dropdown-item">Stellenbosch, Western Cape</a>
                                    <a onclick="clickedLocation('Bellville, Western Cape')" style="cursor: pointer;" href="javascript:void(0)" class="dropdown-item">Bellville, Western Cape</a>
                                    <a onclick="clickedLocation('Rondebosch, Western Cape')" style="cursor: pointer;" href="javascript:void(0)" class="dropdown-item">Rondebosch, Western Cape</a>
                                    <a onclick="clickedLocation('Hillcrest, KwaZulu-Natal')" style="cursor: pointer;" href="javascript:void(0)" class="dropdown-item">Hillcrest, KwaZulu-Natal</a>
                                    <a onclick="clickedLocation('Pietermaritzburg, KwaZulu-Natal')" style="cursor: pointer;" href="javascript:void(0)" class="dropdown-item">Pitermaritzburg, KwaZulu-Natal</a>
                                    <a onclick="clickedLocation('Durban Central, KwaZulu-Natal')" style="cursor: pointer;" href="javascript:void(0)" class="dropdown-item">Durban Central, KwaZulu-Natal</a>
                                    <a onclick="clickedLocation('Randburg, Gauteng')" style="cursor: pointer;" href="javascript:void(0)" class="dropdown-item">Randburg, Gauteng</a>
                                    <a onclick="clickedLocation('Midrand, Gauteng')" style="cursor: pointer;" href="javascript:void(0)" class="dropdown-item">Midrand, Gauteng</a>
                                </div>
                            </div>
                            <br />
                            <span id="test-site-validation" style="color: red; font-weight: bold; visibility: hidden;" class="text-danger">Please select a testing site</span>
                        </div>
                    </div>
                </div>
                <div id="test-date" style="margin-top: -2.5%; text-align: center;" class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="label-control">Test Date</label>
                            <br />
                            <input onclick="clickedDate()" type="date" id="booking-date">
                            <br />
                            <span id="test-date-validation" style="color: red; font-weight: bold; visibility: hidden;" class="text-danger">Please select a testing date</span>
                        </div>
                    </div>
                </div>
                <center><button onclick="checkForm()" type="button" style="background-color: red; margin-top: 1%;" class="btn btn-primary">Next</button></center>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

    var testingSiteChosen = false;
    var testingLocation = null;

    function testTypeClicked() {
        if (document.getElementById('test-type-validation').style.visibility == "visible") {
            document.getElementById('test-type-validation').style.visibility = "hidden";
            document.getElementById('dropdown').style.marginTop = "-2.5%";
        }
    }

    function clickedLocation(location) {
        var display = document.getElementById('button-value');
        display.innerText = location;
        testingSiteChosen = true;
        document.getElementById('test-site-validation').style.visibility = "hidden";
        document.getElementById('test-date').style.marginTop = "-2%";
        testingLocation = location;
    }

    function clickedDate() {
        document.getElementById('test-date-validation').style.visibility = "hidden";
        document.getElementById('booking').style.marginTop = "-2%";
    }

    function checkForm() {

        var testTypeFlag = true;
        var testSiteFlag = true;
        var testDateFlag = true;

        var selectedDate = document.getElementById('booking-date').value;
        var dateParts = selectedDate.split('-');
        var bookingDate = new Date(dateParts[0], dateParts[1] - 1, dateParts[2]);
        var currentDate = new Date();
        currentDate.setHours(0,0,0,0);

        if (!document.getElementById('pcr-swab-test').checked && !document.getElementById('rapid-antigen-test').checked && !document.getElementById('antibody-test').checked) {
            document.getElementById('test-type-validation').style.visibility = "visible";
            document.getElementById('dropdown').style.marginTop = "-1%";
            testTypeFlag = false;
        } if (!testingSiteChosen) {
            document.getElementById('test-site-validation').style.visibility = "visible";
            document.getElementById('test-date').style.marginTop = "0%";
            testSiteFlag = false;
        } if (!document.getElementById('booking-date').value) {
            document.getElementById('test-date-validation').style.visibility = "visible";
            document.getElementById('booking-date').style.marginTop = "-1%";
            testDateFlag = false;
        } if (bookingDate < currentDate) {
            document.getElementById('test-date-validation').style.visibility = "visible";
            document.getElementById('booking-date').style.marginTop = "-1%";
            testDateFlag = false;
        } if (testTypeFlag && testSiteFlag && testDateFlag) {
            var testTypeUrl = null;
            var testLocationUrl = null;
            var testDate = null;

            if (document.getElementById('pcr-swab-test').checked) {
                testTypeUrl = 'dZr9RcABjq';
            } if (document.getElementById('rapid-antigen-test').checked) {
                testTypeUrl = 'SkwFaATkYv';
            } if (document.getElementById('antibody-test').checked) {
                testTypeUrl = 'hcYPmydyWZ';
            } if (testingLocation == 'Stellenbosch, Western Cape') {
                testLocationUrl = 'JZjKyupGXO';
            } if (testingLocation == 'Bellville, Western Cape') {
                testLocationUrl = 'eC4LdaFsWu';
            } if (testingLocation == 'Rondebosch, Western Cape') {
                testLocationUrl = 'ABIf3LMQ4l';
            } if (testingLocation == 'Hillcrest, KwaZulu-Natal') {
                testLocationUrl = 'WH2fbXxIdU';
            } if (testingLocation == 'Pietermaritzburg, KwaZulu-Natal') {
                testLocationUrl = 'UQLsvizNLJ';
            } if (testingLocation == 'Durban Central, KwaZulu-Natal') {
                testLocationUrl = 'NmCGgsAEnZ';
            } if (testingLocation == 'Randburg, Gauteng') {
                testLocationUrl = '2464QfRQfc';
            } if (testingLocation == 'Midrand, Gauteng') {
                testLocationUrl = 'gqoz3cT0jA';
            }
            testDate = document.getElementById('booking-date').value;
            window.location.href = '@Url.Action("TimeBooking", "CovidTests")' + '?testType=' + testTypeUrl + '&testLocation=' + testLocationUrl + '&testDate=' + testDate;
        }
    }


</script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
