@model IEnumerable<Epicentre.Models.CovidTest>

@{
    ViewData["Title"] = "Search For Patient";
}

<div style="margin-top: 15%;" class="text-center">
    <h1 style="color: black; font-weight: bold;">Search for Patient</h1>
    <div style="margin-top: 4%; padding-left: 30%; padding-right: 30%">
        <div style="text-align: center;" class="form-group">
            <label style="color: black;" class="bmd-label-floating"></label>
            <input style="color: black; font-size: 200%; text-align: center;" id="idNumber" type="text" class="form-control">
        </div>
        <span id="id-validation" style="color: red; font-weight: bold; visibility: hidden;" class="text-danger">Invalid ID</span>
    </div>
    <div class="form-group">
        <button onclick="search()" type="button" style="background-color: red;" class="btn btn-primary">Search</button>
    </div>
</div>

<script type="text/javascript">

    function search() {

        document.getElementById('id-validation').style.visibility = "hidden";

        var idNumber = document.getElementById('idNumber').value;
        var idNumberCorrect = false;

        String.prototype.isNumber = function () { return /^\d+$/.test(this); }
        if (!idNumber.isNumber() || document.getElementById('idNumber').value.length == 0) {
            document.getElementById('id-validation').textContent = "Invalid ID";
            document.getElementById('id-validation').style.visibility = "visible";
        } else if (idNumber.isNumber()) {
            var id = idNumber.toString();
            if (id.length == 13) {
                idNumberCorrect = true;
            } else {
                document.getElementById('id-validation').textContent = "Invalid ID";
                document.getElementById('id-validation').style.visibility = "visible";
            }
        }

        if (idNumberCorrect) {
            window.location.href = '@Url.Action("Patients", "CovidTests")' + '?idNumber=' + idNumber;
        }
    }


</script>